body {
    text-align: center;
    font-family: sans-serif;
    background-color: darkgrey
}

.remove {
    border: 2px solid rgba(122, 0, 0, 1);
    border-left: 8px solid rgba(122, 0, 0, 1);
    text-align: left;
    width: 750;
    padding: 5
}

.add {
    border: 2px solid rgba(31, 122, 0, 1);
    border-left: 8px solid rgba(31, 122, 0, 1);
    text-align: left;
    width: 750;
    padding: 5
}

.change {
    border: 2px solid rgba(118, 122, 0, 1);
    border-left: 8px solid rgba(118, 122, 0, 1);
    text-align: left;
    width: 750;
    padding: 5
}

.improve {
    border: 2px solid rgba(0, 10, 122, 1);
    border-left: 8px solid rgba(0, 10, 122, 1);
    text-align: left;
    width: 750;
    padding: 5
}